@import "branding";


.footer-wrapper {
    height: $footer_size;
    background-color: $footer_gray;
    vertical-align: middle;
    color: white;

    .col {
        margin-top: $footer_size / 2;
    }



    ul {
        list-style-type: none;
        li {
            display: inline-block;
            padding: 0 10px;
            a {
                color: white;
            }
        }
    }
}