@import "branding";
@import "mixins";
#contentwrap {
    /*margin-bottom: -$footer_size;*/
    overflow: auto;
}

#contentBody {
    background: white;
    #container-cover {
        background: rgba(0, 0, 0, 0.75);
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 110;
        display: none;
    }
    #containerMainView {
        .quick-selections {
            margin: 10px 0;
            text-align: right;
            @media all and (max-width: 690px) {
                margin: 2.2em 10px;
                label {
                    display: none;
                }
            }
            .quick-select-section {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                span:last-child {
                    margin-right: 0;
                }
            }
        }
        .section-intro {
            width: 100%;
            background-color: $scheme_section_head_background;
            .container {
                background-image: url('../images/sections/1.jpg');
                @media all and (max-width: 767px) {
                    background-image: url('../images/sections/1_mobile.jpg');
                }
                background-origin: center center;
                background-size: cover;
                .section-top {
                    margin-top: 8vh;
                }
                @media all and (max-width: 690px) and (orientation: landscape) {
                    margin-top: 15vh;
                }
            }
            &>.container>.row {
                background: rgba(0, 0, 0, 0.75);
                min-height: 35vh;
            }
            &.headlines .container {
                background-image: url('../images/sections/1.jpg');
                @media all and (max-width: 767px) {
                    background-image: url('../images/sections/1_mobile.jpg');
                }
                .row {
                    background: rgba(0, 0, 0, 0.6);
                }
            }
            &.roll-forward .container {
                background-image: url('../images/sections/2.jpg');
                @media all and (max-width: 767px) {
                    background-image: url('../images/sections/2_mobile.jpg');
                }
            }
            &.submissions .container {
                background-image: url('../images/sections/3.jpg');
                @media all and (max-width: 767px) {
                    background-image: url('../images/sections/3_mobile.jpg');
                }
            }
            &.segmentation .container {
                background-image: url('../images/sections/4.jpg');
                @media all and (max-width: 767px) {
                    background-image: url('../images/sections/4_mobile.jpg');
                }
            }
            &.reports .container {
                background-image: url('../images/sections/5.jpg');
                @media all and (max-width: 767px) {
                    background-image: url('../images/sections/5_mobile.jpg');
                }
            }
            #contentBody #containerMainView .section-intro .container .section-intro-cover {
                position: relative;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.15);
            }
            .share_price {
                background-color: #fff;
                width: 200px;
                min-width: 150px;
                margin-top: 50px;
                padding-top: 5px;
                padding-left: 10px;
                font-family: $main_font;
                float: right;
                display: inline-block;
                margin-right: 15px;
                iframe .StockQuote .price {
                    font-family: $main_font;
                }
            }
            .section-cover {
                //  http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.10+100
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 85%);
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 85%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 85%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            .section-headers-wrapper {
                margin-top: 7vh;
                @media all and (max-width: 767px) {
                    margin-top: 15vh;
                }
                margin-left: 15px;
                padding-left: 15px;
                border-left: 5px solid $scheme_section_color;
                h1,
                h2 {
                    color: white;
                    line-height: 1.5em;
                }
                h1 {
                    margin-top: 3vh;
                    font-size: 3em;
                    font-weight: 700;
                }
                h2 {
                    margin-top: 1vh;
                    font-size: 1.25em;
                    font-weight: 400;
                }
            }
            .section-kpis {
                margin-top: 3vh;
                margin-bottom: 2vh;
                text-align: center;
                @media all and (max-width: 690px) {
                    background: $scheme_content_body_bkg;
                    color: black;
                    margin-bottom: 0;
                    padding-top: 1vh;
                }
                .kpi-object {
                    display: inline-block;
                    min-width: 100px;
                    width: 20%;
                    vertical-align: top;
                    &.medium {
                        min-width: 90px;
                        width: 20%;
                    }
                    &.small {
                        min-width: 80px;
                        width: 15%;
                    }
                    /* Phones with portrait, till hidden xs */
                    @media all and (max-width: 767px) {
                        width: 20%;
                        &.small,
                        &.medium {
                            width: 20%;
                            margin: 15px 0.5%;
                        }
                    }
                    /* Majority of phones */
                    @media all and (max-width: 690px) {
                        width: 48%;
                        &.small,
                        &.medium {
                            width: 48.5%;
                            margin: 15px 0.5%;
                        }
                    }
                    /* Smaller-screen phones */
                    @media all and (max-width: 360px) {
                        width: 100%;
                        &.small,
                        &.medium {
                            width: 100%;
                            margin: 5px 0;
                        }
                    }
                    @include iphone6('portrait') {
                        width: 100%;
                        &.small,
                        &.medium {
                            width: 100%;
                            margin: 5px 0;
                        }
                    }
                    @include iphone6-plus('portrait') {
                        width: 100%;
                        &.small,
                        &.medium {
                            width: 100%;
                            margin: 5px 0;
                        }
                    }
                }
                .kpi-comb-wrapper {
                    display: inline-block;
                    min-width: 100px;
                    width: 15%;
                    vertical-align: top;
                    .kpi-object {
                        width: 100%;
                    }
                    @media all and (max-width: 767px) {
                        width: 25%;
                        margin: 15px 2%;
                    }
                    @media all and (max-width: 690px) {
                        width: 45%;
                        margin: 15px 2%;
                    }
                    @media all and (max-width: 360px) {
                        width: 100%;
                        margin: 15px 0;
                    }
                }
            }
        }
        .select-wrapper {
            margin: 10px 0;
            select {
                height: 30px;
                min-width: 100px;
                margin-left: 10px;
                border: 1px solid gray;
            }
        }
        article.charts-section {
            background: $scheme_content_body_bkg;
            min-height: 50vh;
            padding-bottom: 3vh;
            h1.section-title {
                font-size: 2em;
                font-weight: 400;
            }
            h2 {
                font-size: 1.5em;
                font-weight: 400;
            }
            h3 {
                font-size: 1.1em;
                margin: 0.25em 0;
                font-weight: 500;
            }
            .panel {
                background: white;
                padding: 10px;
                border-top: 4px solid $scheme_section_color;
                margin-bottom: 15px;
                position: relative;
                @media all and (max-width: 690px) {
                    margin: 10px;
                }
            }
            .information-section {
                width: 90%;
                margin-top: 0;
                margin-left: 15px;
                position: absolute;
                .content {
                    padding: 10px;
                    margin-right: 15px;
                    font-size: 1.25em;
                    padding-top: 30px;
                    line-height: 150%;
                }
            }
            .options-wrap {
                position: absolute;
                right: 15px;
                top: 15px;
                z-index: 99;
                .information-button {
                    position: absolute;
                    right: 45px;
                    display: inline-block;
                    text-align: right;
                    font-size: 1.5em;
                    background-color: #AFAFAF;
                    color: white;
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    text-align: center;
                    vertical-align: middle;
                    padding: 3px;
                    top: 0;
                }
                .expander {
                    display: inline-block;
                    text-align: right;
                    position: absolute;
                    right: 13px;
                    padding: 5px;
                    font-size: 1.5em;
                    color: $scheme_turquoise;
                }
                @media all and (max-width: 690px) {
                    position: relative;
                    display: block;
                    text-align: right;
                    width: 100%;
                    top: 0;
                    right: 0;
                    .information-button,
                    .expander {
                        display: inline-block;
                        top: 0;
                        right: 0;
                        position: relative;
                        vertical-align: middle;
                    }
                    .information-button {
                        margin-right: 10px;
                    }
                    .expander {
                        padding-top: 10px;
                        margin-left: 10px;
                    }
                }
                .options-list {
                    margin-top: 30px;
                    list-style-type: none;
                    @media all and (max-width: 690px) {
                        margin-top: 10px;
                        ul {
                            margin-bottom: 35px;
                        }
                    }
                    ul {
                        list-style-type: none;
                    }
                    li {
                        border-radius: 10px;
                        text-align: right;
                        margin: 10px 0;
                        margin-right: 0;
                        color: transparent;
                        vertical-align: middle;
                        font-size: 1.5em;
                        padding-right: 0;
                        padding-left: 10px;
                        @media all and (max-width: 690px) {
                            color: $scheme_dark_gray;
                            background: #ddd;
                            margin-left: 15px;
                            .options-button {
                                color: $scheme_dark_gray;
                            }
                        }
                        span {
                            vertical-align: text-bottom;
                            padding-right: 10px;
                        }
                        .options-button {
                            padding: 10px;
                            margin-right: 10px;
                            color: $scheme_turquoise;
                            font-size: 1.5em;
                        }
                        &:hover {
                            background-color: $scheme_turquoise;
                            color: white;
                            .options-button {
                                color: white;
                            }
                        }
                    }
                    .options-button {
                        padding: 5px;
                        color: $scheme_turquoise;
                        font-size: 2em;
                    }
                }
            }
        }
        .qs-transactions {
            width: 100%;
            text-align: right;
            margin-top: 10px;
            button {
                display: inline-block;
            }
        }
    }
}

body {
    background-color: $scheme_black;
}

p {
    font-size: $paragraph_size;
    line-height: 125%;
}

button {
    font-family: $main_font;
    font-size: $paragraph_size;
    padding: 0 80px;
    vertical-align: middle;
    height: 50px;
    border: none;
    color: white;
    background: $scheme_turquoise;
    display: block;
    &.chubb-orange {
        background-color: $scheme_orange;
        &:hover {
            background-color: #D85421;
        }
    }
    &.short {
        height: 35px;
    }
    &.tall {
        height: 80px;
    }
}

.modal-dialog {
    width: 98%;
    padding: 5px;
    @media all and (min-width: 780px) {
        &.small {
            width: 50%;
            padding: 5px;
            .modal-footer {
                margin-top: 20px;
                clear: both;
            }
        }
    }
}

.modal-content {
    font-size: 1.25em;
    form {
        .form-control {
            display: block;
            margin-bottom: 15px;
        }
    }
    h3 {
        font-size: 1.2em;
        color: $scheme_dark_gray;
    }
    #bookmarksList {
        list-style-type: none;
        margin-left: 0;
        font-size: 1.35em;
        li {
            position: relative;
            margin-bottom: 10px;
        }
        i {
            margin-left: 50px;
            font-size: 1.1em;
            color: $scheme_red;
            position: absolute;
            right: 15px;
        }
        span {
            color: $scheme_turquoise;
            text-decoration: underline;
        }
    }
    .export-options-button {
        cursor: pointer;
        background: $scheme_turquoise;
        padding: 10px;
        color: white;
        text-align: right;
        display: inline-block;
        span {
            margin-right: 10px;
            font-size: 1.2em;
        }
        i {
            font-size: 1.4em;
        }
    }
    height: auto;
    min-height: 85%;
    border-radius: 0;
    .modal-header {
        padding: 0;
        padding-right: 10px;
    }
    .close-button-wrapper {
        text-align: right;
        height: 35px;
        position: relative;
        button.close {
            position: absolute;
            right: 0;
            font-size: 3em;
            padding-right: 10px;
            text-align: right;
            display: block;
            float: none;
        }
    }
    .modal-footer {
        margin-top: 50px;
        clear: both;
    }
}

select {
    color: black;
    font-size: 1em;
    @media all and (max-width: 690px) {
        font-size: 1.5em;
        border: 1px solid $scheme_dark_gray;
    }
}