//  height blocks
.block-vh {
    height: 28vh !important;
}

.block {
    margin-bottom: 30px !important;
}

.block-10 {
    height: 10px !important;
}

.block-20 {
    height: 20px !important;
}

.block-25 {
    height: 25px !important;
}

.block-30 {
    height: 30px !important;
}

.block-35 {
    height: 35px !important;
}

.block-40 {
    height: 40px !important;
}

.block-50 {
    height: 50px !important;
}

.block-60 {
    height: 60px !important;
}

.block-65 {
    height: 65px !important;
}

.block-70 {
    height: 70px !important;
}

.block-75 {
    height: 75px !important;
}

.block-80 {
    height: 80px !important;
}

.block-90 {
    height: 90px !important;
}

.block-95 {
    height: 95px !important;
}

.block-100 {
    height: 100px !important;
}

.block-110 {
    height: 110px !important;
}

.block-120 {
    height: 120px !important;
}

.block-130 {
    height: 130px !important;
}

.block-140 {
    height: 140px !important;
}

.block-150 {
    height: 150px !important;
}

.block-160 {
    height: 160px !important;
}

.block-165 {
    height: 165px !important;
}

.block-170 {
    height: 170px !important;
}

.block-180 {
    height: 180px !important;
}

.block-190 {
    height: 190px !important;
}

.block-195 {
    height: 195px !important;
}

.block-200 {
    height: 200px !important;
}

.block-210 {
    height: 210px !important;
}

.block-220 {
    height: 220px !important;
}

.block-230 {
    height: 230px !important;
}

.block-240 {
    height: 240px !important;
}

.block-250 {
    height: 250px !important;
    padding-bottom: 20px;
}

.block-260 {
    height: 260px !important;
}

.block-270 {
    height: 270px !important;
}

.block-280 {
    height: 280px !important;
}

.block-290 {
    height: 290px !important;
}

.block-300 {
    height: 300px !important;
}

.block-310 {
    height: 310px !important;
}

.block-320 {
    height: 320px !important;
}

.block-325 {
    height: 325px !important;
}

.block-330 {
    height: 330px !important;
}

.block-340 {
    height: 340px !important;
}

.block-342 {
    height: 342px !important;
}

.block-345 {
    height: 346px !important;
}

.block-350 {
    height: 350px !important;
}

.block-354 {
    height: 354px !important;
}

.block-355 {
    height: 355px !important;
}

.block-360 {
    height: 360px !important;
}

.block-367 {
    height: 367px !important;
}

.block-370 {
    height: 370px !important;
}

.block-380 {
    height: 380px !important;
}

.block-385 {
    height: 385px !important;
}

.block-390 {
    height: 390px !important;
}

.block-392 {
    height: 395px !important;
}

.block-400 {
    height: 400px !important;
}

.block-405 {
    height: 405px !important;
}

.block-410 {
    height: 410px !important;
}

.block-420 {
    height: 430px !important;
}

.block-430 {
    height: 430px !important;
}

.block-440 {
    height: 440px !important;
}

.block-450 {
    height: 450px !important;
}

.block-480 {
    height: 480px !important;
}

.block-500 {
    height: 500px !important;
}

.block-510 {
    height: 510px !important;
}

.block-520 {
    height: 520px !important;
}

.block-530 {
    height: 530px !important;
}

.block-540 {
    height: 540px !important;
}

.block-550 {
    height: 550px !important;
}

.block-560 {
    height: 560px !important;
}

.block-570 {
    height: 570px !important;
}

.block-580 {
    height: 580px !important;
}

.block-590 {
    height: 590px !important;
}

.block-600 {
    height: 600px !important;
}

.block-650 {
    height: 600px !important;
}

.block-700 {
    height: 700px !important;
}

.block-750 {
    height: 750px !important;
}

.block-800 {
    height: 800px !important;
}

.block-850 {
    height: 800px !important;
}

.block-900 {
    height: 800px !important;
}

.block-925 {
    height: 800px !important;
}

.block-950 {
    height: 800px !important;
}
.block-1235 {
    height: 1235px !important;
}