body {
    overflow: auto !important;
}

/*.celsa-qs-chart {
    margin-right: 3.5%;
    width: 48%;
    display: inline-block;
    background: white;
    margin-bottom: 10px;
    vertical-align: top;
}
.celsa-qs-chart.clearfix {
    margin-right: 0;
}
*/