    .nav-light-wrapper,
.nav-wrapper {
    nav {
        float: none;
    }
    .responsive-options-wrapper {
        display: block;
        text-align: right;
    }
    .responsive-menu-menu {
        text-align: right;
        color: white;
        a {
            display: block;
            font-size: 2em;
        }
    }
    .responsive-menu-button {
        color: white;        
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        font-size: 2em;
    }
    .responsive-menu-filters {
        position: relative;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        #nav-filter-count {
            top: 0;
            right: -25px;
            font-size: 0.85em;
            height: 20px;
            width: 20px;
        }
    }
}

.nav-light-wrapper .responsive-menu-button {
    display: block;
}