html, body {
    height: 100%;
}

body {
    overflow: auto !important;
}

.qv-object h1,
.qv-object h2,
.qv-object .ellips-text>span,
.qv-object .qv-object-title .qv-object-title-text,
.qv-object .qv-object-subtitle,
.qv-object .qv-object-footnote,
.qv-object .kpi-title,
.qv-object table,
.qv-object th, .qv-object th span,
.qv-object td, .qv-object td span,
.qv-object tbody {
    font-family: $main_font;
}



.kpi-object {
    .qv-object h1,
    .qv-object h2,
    .qv-object .ellips-text>span,
    .qv-object .qv-object-title .qv-object-title-text,
    .qv-object .qv-object-subtitle,
    .qv-object .qv-object-footnote,
    .qv-object .kpi-title  {
        color: white;
    }

    .qv-object .measure-title {
        margin-bottom: 8px;
    }

    .qv-object .kpi-title {
        font-size: 16px;            
    }

    .footer {
        margin-top: 0;
    }

    .qv-object .secondary-wrapper {
        padding-left: 10px;
    }

    .qv-object .secondary-wrapper .kpi-value {
        .ellips-text > span {
            font-size: 15px;
        }        
    }
    
    .qv-object .kpi-value .ellips-text > span {
        font-size: 28px;
    }

    .qv-object .measure-title.ellips-text > span {
        font-size: 18px;
    }

    .qv-object-footnote {
        text-align: center;
        font-style: normal;
        margin-top: 0;
    }
}


.qv-object .qv-object-title,
.qv-object .qv-object-title .qv-object-title-text,
.qv-object .qv-object-title h1,
.qv-object .qv-object-title h1 > div
{
    font-size: 1.2em;
    margin: 0;
    font-weight: 500;
    color: black;
}


.qv-object .qv-media-tool-html div {
    font-family: $main_font !important;
    font-size: 0.95em;
}

.qv-object .qv-chart-component *,
.qv-object .qv-chart-component > canvas,
.qv-object .qv-chart-component > canvas text,
.qv-object .qv-chart-component > canvas * {
    font-family: $main_font !important;
}

.kpi-spark .qv-object .qv-object-title .qv-object-title-text {
    display: none !important; 
}


/*
.qv-object .qv-object-subtitle {
    float: right !important;
}
.qv-object h1, 
.qv-object h2,
.qv-object .qv-object-title .qv-object-title-text,
.qv-object .qv-object-subtitle, .qv-object .qv-object-footnote
{
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,'Open Sans',sans-serif !important;
    color: #777777;
}
.qv-object .qv-object-header {
    flex: none;
    display: block !important;
}
.qv-object .qv-object-header h1 {
    display: inline-block;
    flex: none;
    font-weight: normal;
    color: #777777;
}
.qv-object .qv-object-header h1 > div {
    float: left;
}
.qv-object .qv-object-header h2 {
    display: inline-block;
    flex: none;
    color: #4A4A4A;
}
.qv-object .qv-object-header h1,
.qv-object .qv-object-header h2 {
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
}
.qv-object .qv-object-header h1 {
    padding-top: 10px;
}
*/
