@import "branding";
html,
body {
    height: 100%;
}

body {
    overflow: auto !important;
}

.qv-object {
    background: transparent;
    font-size: 1em;
}

.qv-object h1,
.qv-object h2,
.qv-object .ellips-text>span,
.qv-object .qv-object-title .qv-object-title-text,
.qv-object .qv-object-subtitle,
.qv-object .qv-object-footnote,
.qv-object .kpi-title,
.qv-object table,
.qv-object th,
.qv-object th span,
.qv-object td,
.qv-object td span,
.qv-object tbody {
    font-family: $main_font;
}

.qv-object .qv-object-title,
.qv-object .qv-object-title .qv-object-title-text,
.qv-object .qv-object-title h1,
.qv-object .qv-object-title h1>div {
    font-size: 1.15em;
    margin: 0;
    font-weight: 500;
    color: black;
}

.kpi-object {
    .qv-object {
        h1,
        h2,
        .ellips-text>span,
        .qv-object-title .qv-object-title-text,
        .qv-object-subtitle,
        .qv-object-footnote,
        .kpi-title {
            color: white;
            @media all and (max-width: 690px) {
                color: black;
            }
        }
        .measure-title {
            display: none;
        }
        .qv-object-title,
        .qv-object-title .qv-object-title-text,
        .qv-object-title h1,
        .qv-object-title h1>div {
            font-size: 1.3em;
        }
        .qv-object-title {
            padding-right: 0;
            line-height: 1.5em;
            display: block;
            text-align: center;
        }
        .secondary-wrapper {
            padding-left: 10px;
            display: block !important;
            .kpi-value {
                .ellips-text>span {
                    font-size: 16px;
                }
            }
            .kpi-title {
                font-size: 1.25em !important;
                line-height: 1em;
            }
        }
        .kpi-value {
            font-size: 200% !important;
            .ellips-text>span {
                font-size: 1.65em;
            }
        }
        .measure-title.ellips-text>span {
            font-size: 18px;
        }
        .qv-object-subtitle {
            font-size: 1.5em;
        }
    }
    .footer {
        margin-top: 0;
    }
    .qv-object-footnote {
        text-align: center;
        font-style: normal;
        margin-top: 0;
    }
}

.qv-media-tool-html,
.qv-media-tool-html b,
.qv-object-text-image .qv-media-tool-html,
.qv-object-text-image .qv-media-tool-html b .qv-object-text-image .qv-media-tool-html strong {
    font-family: $main_font;
}

.qv-media-tool-html>b {
    padding-bottom: 10px;
}

.kpi-object .qv-object,
.kpi-comb-wrapper .qv-object {
    background: transparent !important;
}

.qv-object .qv-media-tool-html div {
    font-family: $main_font !important;
    font-size: 0.95em;
}

.qv-object .qv-chart-component .color-legend .vertical .text,
.qv-object .qv-chart-component .color-legend .horizontal .text,
.qv-object .qv-chart-component>canvas,
.qv-object .qv-chart-component>canvas text,
.qv-object .qv-chart-component>canvas * {
    font-family: $main_font !important;
}

.kpi-spark .qv-object .qv-object-title .qv-object-title-text {
    display: none !important;
}

.kpi-spark {
    position: relative;
    &:hover {
        opacity: 0.75;
        background: rgba(255, 255, 255, 0.1);
        &:before {
            content: "\f065";
            display: block;
            position: absolute;
            top: 0;
            left: 40%;
            z-index: 11111111;
            color: black;
            font-size: 1.4em;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 20px;
            vertical-align: middle;
            padding: 10px;
            text-align: center;
        }
    }
    &:before {
        display: none;
        font: normal normal normal 14px/1 FontAwesome;
    }
}

.qv-object-kpi .kpi-icon {
    font-size: 15px;
}

.qv-object-text-image .qv-media-tool-html {
    line-height: 1.5em;
    font-size: 1.2em;
}


/* From client.css */

body,
input,
textarea,
keygen,
select,
button,
isindex {
    font-family: $main_font;
}

input,
textarea {
    border: 1px solid gray;
}

.reports-wrapper .requirements .add-button {
    display: none;
}


/* 
* By default when the KPI is too small, the secondary value is emptied
*/

.kpi-object .secondary-wrapper {
    display: block !important;
}


/**
* IntroJS Overrides
*/

.introjs-helperLayer {
    background: none;
    border: 2px dashed $scheme_turquoise;
}

.introjs-overlay {
    background: none;
}

.introjs-tooltipbuttons>a {
    background: $scheme_turquoise;
    color: white;
    font-family: $main_font;
    text-shadow: none;
    padding: 10px;
    border: none;
}

.introjs-helperNumberLayer {
    top: 0;
    font-family: $main_font;
    background: $scheme_turquoise;
    line-height: 22px;
}

/**
* Increase the z-index so that the column
* reordering pop-up appearing in the tables.
*/
.qui-immidiateContextual {
    z-index: 1090;
}