#searchbar-wrapper {
    display: inline-block;
    position: fixed;
    top: 20vh;
    left: 25%;
    width: 800px;
    height: 80px;
    z-index: 120;

    #search-bar-field {
        height: 50px;
        width: 100%;
        font-size: 2em;
        border-radius: 5px;
        position: relative;

        input {
            height: 100%;
            width: 100%;
            padding: 0 10px;
            border-radius: 5px;  
        }
        .search-icon {
            position: absolute;
            right: 15px;
            top: 12px;
            font-size: 25px;
        }
    }
}

.search-results {
    background: white;
    position: absolute;
    max-height: 70vh;
    width: 800px;
    overflow-y: scroll;
    border: 1px solid black;
    top: 5vh;
    left: 0;
    z-index: 999;
    text-align: left;
    font-size: 1.3em;
    
    &.navigation {
        position: relative;
        top: 0;
        left: 0;
        border: none;
        .search-term-results li {
            cursor: pointer;
            color: #337ab7;
        }
    }
    &.toolbar {
        .search-term-results li {
            cursor: pointer;
            color: #337ab7;
        }
    }
    .no-search-results {
        padding: 10px;
        font-weight: bold;
    }
    .search-results-loader {
        padding: 30px;
        text-align: center;
        background: url(imgs/loading.svg);
        background-repeat: no-repeat;
        background-position-x: 40px;
        margin-top: 10px;
    }
    .search-term-results,
    .search-matches {
        text-align: left;
        list-style-type: none;
    }
    .search-term-results {
        padding: 10px;
        li {
            margin-bottom: 5px;
        }
    }
    .search-term-results li>span {
        font-weight: bold;
    }
    .search-matches li {
        display: inline-block;
        padding-right: 5px;
        cursor: pointer;
    }
    .search-term-results li a {
        cursor: pointer;
        color: #337ab7;
    }
}