@import "branding";
.splash {
    background-color: #000;
    background-image: url('../images/splash/1.jpg');
    button {
        background-color: $scheme_orange;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 1.5em;
        height: 60px;
        font-weight: 600;
    }
    .splash-stock {
        margin-top: 15vh;
        background: white;
        padding: 10px;
        padding-right: 20px;
    }
    .start-analysis {
        &:after {
            content: ' ';
            background: url(../images/arrow_down.svg);
            height: 9px;
            width: 16px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
            margin-left: 35%;
            margin-top: 2px;
            @media all and (max-width: 480px) {
                display: none;
            }
        }
    }
    #tick-to-go-straight-wrapper {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        padding: 10px;
        background: black;
        border-top: 1px solid #a7a7a7;
        @media all and (max-width: 480px) {
            padding: 30px 10px;
        }
        span {
            width: 100%;
            color: white;
            display: block;
            text-align: center;
            font-size: 1.2em;
        }
        input {
            margin-right: 10px;
        }
    }
    #splash-welcome-text {
        margin-top: 20px;
        border-left: 5px solid;
        border-color: $scheme_orange;
    }
    .arrow-wrapper {
        text-align: center;
        .arrow-down-img {
            width: 25px;
            display: block;
        }
    }
    #index-progress .progress-bar-bar {
        background-color: $scheme_orange;
    }
    &.splash-1 {
        background-image: url('../images/splash/1.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/1_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_orange;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_orange;
        }
    }
    &.splash-2 {
        background-image: url('../images/splash/2.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/2_mobile.jpg');
        }
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_turquoise;
        }
        #splash-welcome-text {
            border-color: $scheme_turquoise;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_turquoise;
        }
    }
    &.splash-3 {
        background-image: url('../images/splash/3.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/3_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_red;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_red;
        }
    }
    &.splash-4 {
        background-image: url('../images/splash/4.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/4_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_purple;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_purple;
        }
    }
    &.splash-5 {
        background-image: url('../images/splash/5.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/5_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_blue;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_blue;
        }
    }
    &.splash-6 {
        background-image: url('../images/splash/6.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/6_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_yellow;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_yellow;
        }
    }
    &.splash-7 {
        background-image: url('../images/splash/7.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/7_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_green;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_green;
        }
    }
    &.splash-8 {
        background-image: url('../images/splash/8.jpg');
        @media all and (max-width: 767px) {
            background-image: url('../images/splash/8_mobile.jpg');
        }
        #splash-welcome-text {
            border-color: $scheme_turquoise;
        }
        button,
        #index-progress .progress-bar-bar,
        .nav-light-wrapper a:before,
        .nav-light-wrapper a:hover:before {
            background-color: $scheme_turquoise;
        }
    }
    background-position: center center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
    #index-splash-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999999;
    }
    #index-progress {
        height: 5px;
        width: 100%;
        .progress-bar {
            width: 100%;
            height: 4px;
        }
        .progress-bar-bar {
            width: 0px;
            height: 100%;
            color: #fff;
            font-weight: normal
        }
    }
    .splash-logo {
        width: 300px;
        @media all and (max-width: 767px) {
            width: 200px;
        }
    }
    .splash-logo,
    #splash-welcome-text {
        padding-left: 20px;
    }
    #index-cover,
    #index-cover-fader {
        //  http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.10+100
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 85%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 85%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 85%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    #index-cover-fader {
        background: black;
        opacity: 0;
    }
    @media all and (min-width: 960px) {
        .table-display {
            display: table;
        }
        .cell-display {
            float: none;
            display: table-cell;
            vertical-align: top;
            &.bottom-aligned {
                vertical-align: bottom;
            }
        }
    }
    #intro-wrapper {
        height: 100%;
    }
    .splash-welcome {
        bottom: 150px;
        position: absolute;
        $margin_to_add: 60vh;
        @media all and (max-width: 690px) and (orientation: landscape) {
            position: relative;
            margin-top: $margin_to_add;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
            position: relative;
            margin-top: $margin_to_add;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
            position: relative;
            margin-top: $margin_to_add;
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
            position: relative;
            margin-top: $margin_to_add;
        }
    }
    button {
        border: 1px solid white;
    }
    .splash-title {
        color: white;
        font-size: 2.5em;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 0.5em;
    }
    .splash-text {
        color: white;
        font-size: 1.25em;
        font-weight: normal;
    }
    a.splash-arrow {
        color: white;
        font-size: 1.2em;
        position: absolute;
        bottom: 55px;
        left: 50%;
        margin-left: -25px;
        padding: 10px;
        width: 50px;
        height: 50px;
        font-weight: bold;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
        animation-delay: 1.5s;
        border: 3px solid white;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        &:hover {
            text-decoration: none;
            bottom: 50px;
        }
    }
    @media all and (max-width: 989px) {
        header h1 {
            width: 100%;
            text-align: center;
        }
        header nav {
            float: none;
            display: inline-block;
            margin: 0 auto;
        }
        .splash-title {
            font-size: 2em;
        }
    }
    @media all and (max-width: 480px) {
        .splash-title {
            font-size: 1.5em;
        }
    }
}