<!doctype html>
<html qva-bootstrap="false">

<head>
    <meta charset="utf-8">
    <title>CHUBB - Revenue Dashboard</title>
    <meta name="description" content="CHUBB">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <!-- DEV Version -->
    <script src="config/config.js" type="text/javascript"></script>

    <link href="favicon.ico?v=5" rel="shortcut icon">
    <link href="favicon.ico?v=5" type="image/x-icon" rel="icon" />
</head>

<body id="mainBody" class="{{pageClassCSS}} page-{{defaultSection}} {{section}}" scroll ng-class="{min:boolChangeClass}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="splashController">
        <div class="splash splash-{{splashNum}}">
            <div id="index-progress">
                <progress-bar cur-val='{{curVal}}' max-val='{{maxVal}}'></progress-bar>
            </div>
            <div id="intro-wrapper" class="container">
                <div id="index-cover" ng-click="nextSplash()"></div>
                <div class="splash-welcome row table-display col-lg-12">
                    <div class="col-lg-1 cell-display">&nbsp;</div>
                    <div class="col-lg-5 col-md-11 col-sm-11 cell-display">
                        <img class="splash-logo" src="images/logo.svg" />
                        <div id="splash-welcome-text">
                            <h1 class="splash-title fade-in">Welcome to the Revenue Dashboard</h1>
                            <p class="splash-text">As a recognised leader and one of the largest providers of financial institutions insurance in
                                the UK, London and Lloyd’s markets our mission is to support the development of the business
                                environment, through innovative products and services</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 cell-display bottom-aligned">
                        <div id="button-wrapper">
                            <button class="start-analysis" ng-click="slideDown()">Start Analysing</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contentwrap" class="contentwrap">
        <div id="contentBody">
            <div ng-include="'/templates/nav.html'"></div>
            <div id="containerMainView" class="main-view">
                <!-- Main view -->
                <div ng-view="" class="container-{{pageClassCSS}} "></div>
            </div>
            <div ng-include="'/templates/footer.html'"></div>
        </div>
    </div>

    <!--{{defaultSection}}-->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
        // Load required stylesheets
        senseConnection.requestStylesheet('resources/autogenerated/qlikui.css');
        senseConnection.requestStylesheet('resources/assets/client/client.css');

        // Load requirejs with data main
        var script = senseConnection.requestScript('resources/assets/external/requirejs/require.js', 'scripts/app.js');
        script.onload = function (e) {
            if (typeof require === 'undefined') {
                if (window.console) {
                    console.info('Failed loading main script...', e);
                }
            } else {
                if (window.console) {
                    console.info('Successfully loaded main script...', e);
                }
            }

        };
    </script>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="./styles/main.css">
</body>

</html>