<!-- Polish Example file, this will only be loaded if the language is set to polish only -->
<div class="celsa-qs-chart with-bottom col-lg-5 col-lg-offset-1 col-lg-offset-1 col-md-5 col-sm-3 col-xs-12 block-350" id="fRRApB"></div>
<div class="celsa-qs-chart with-bottom col-lg-5 col-lg-offset-1 col-lg-offset-1 col-md-5 col-sm-3 col-xs-12 block-350 clearfix" id="mSjVw"></div>
<div class="celsa-qs-chart with-bottom col-lg-5 col-lg-offset-1 col-lg-offset-1 col-md-5 col-sm-3 col-xs-12 block-350" id="SmUjU"></div>
<div class="celsa-qs-chart with-bottom col-lg-5 col-lg-offset-1 col-lg-offset-1 col-md-5 col-sm-3 col-xs-12 block-350 clearfix" id="cWjMPJz"></div>