<div class="row col-lg-12">
    <div class="celsa-qs-chart col-md-2 block-50" id="ZexyF"></div>
    <div class="celsa-qs-chart col-md-2 block-50" id="BtPCG"></div>
</div>
<div class="row col-lg-12">
    <div class="celsa-qs-chart with-bottom col-lg-6 col-md-6 col-sm-12 col-xs-12 block-350" id="fRRApB"></div>
    <div class="celsa-qs-chart with-bottom col-lg-6 col-md-6 col-sm-12 col-xs-12 block-350 clearfix" id="mSjVw"></div>
    <div class="celsa-qs-chart with-bottom col-lg-6 col-md-6 col-sm-12 col-xs-12 block-350" id="SmUjU"></div>
    <div class="celsa-qs-chart with-bottom col-lg-6 col-md-6 col-sm-12 col-xs-12 block-350 clearfix" id="cWjMPJz"></div>
</div>