<section class="section-intro ">

    <div class="container">
        <div class="row">

            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>About</h1>
                </div>
            </div>
            <div class="col-sm-2 section-top">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>

        </div>
</section>

<article class="container charts-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <h3 class="section_titles">Need help?</h3>
                <p>Please contact the European Chubb BI team for help with this dashboard.</p>
                <p>E-mail address: <a href="mailto:europebi@chubb.com?Subject=Revenue%20Dashboard%20Help" target="_top">EuropeBI@Chubb.com</a></p>
                <p>Telephone: +44 020 7173 5064</p>
                <p><b>This dashboard uses the Constant Period FX Rate</b></p>
            </div>
        </div>
    </div>
</article>