<section class="section-intro headlines">

    <div class="container">
        <div class="row">

            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>Headlines</h1>
                    <h2>How is the business going?</h2>
                </div>
            </div>
            <div class="col-sm-2 section-top hidden-xs">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>
            <!-- / Headers -->

            <div class="col-lg-12 section-kpis">
                <div class="qs-object block-80 kpi-object medium" id="gxjZcxj"></div>
                <div class="qs-object block-80 kpi-object medium" id="BnmTGrP"></div>
                <div class="qs-object block-80 kpi-object medium" id="ZwPPUp"></div>                
                <div class="qs-object block-80 kpi-object medium" id="QDPjDRP"></div>
            </div>
        </div>
</section>

<article class="container charts-section">
    <div class="row">
        <div class="col-sm-5">
            <!--<h1 class="section-title">Headlines</h1>-->
            <div class="view-selector">
                <div class="select-wrapper">
                    <span><strong>Analytical View: </strong></span>
                    <select name="singleSelect" ng-model="analyticalViewMode" ng-change="triggerResize()">
                        <option value="mode-view-plan">Plan</option>
                        <option value="mode-view-forecast">Forecast</option>
                        <option value="mode-view-projection">Projection</option>
                        <option value="mode-view-prior">Prior Year</option>
                    </select>
                </div>
                </div>
        </div>
        <!--<div class="col-sm-7"></div>-->
        <div class="col-sm-7" data-step="6" data-intro="Here you can pick how to see the data with currency and Gross/Net selectors">
            <div class="quick-selections">
                <label>Quick Selection:</label>
                <div class="quick-select-section">
                    <vartoggle variable="v_Ccy" defaultvalue="USD" values="USD|EUR">
                </div>
                <div class="quick-select-section">
                    <vartoggle variable="v_GWP_NWP_Switch" values="'Gross','GWP'|'Net','NWP'">
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
                <h2 class="subtitle">What is the geographic / LOB split on Actual vs Plan?</h2>
        </div>
        <div class="col-lg-6">
            <div class="panel">
                <!-- Plan -->
                <div ng-show="analyticalViewMode=='mode-view-plan'">
                    <chartoptions oid="vngfFUc" info="{{info_texts.headlines.by_class}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="vngfFUc"></div>
                </div>
                <!-- Forecast -->
                <div ng-show="analyticalViewMode=='mode-view-forecast'">
                    <chartoptions oid="daYTLet" info="{{info_texts.headlines.by_class}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="daYTLet"></div>
                </div>
                <!-- Projection -->
                <div ng-show="analyticalViewMode=='mode-view-projection'">
                    <chartoptions oid="DjESzw"info="{{info_texts.headlines.by_class}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="DjESzw"></div>
                </div>
                <!-- Prior year -->
                <div ng-show="analyticalViewMode=='mode-view-prior'">
                    <chartoptions oid="HUzUMNF"info="{{info_texts.headlines.by_class}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="HUzUMNF"></div>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel">
                <!-- Plan -->
                <div ng-show="analyticalViewMode=='mode-view-plan'">
                    <chartoptions oid="jBWjRw" info="{{info_texts.headlines.by_geography}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="jBWjRw"></div>
                </div>
                <!-- Forecast -->
                <div ng-show="analyticalViewMode=='mode-view-forecast'">
                    <chartoptions oid="KvAeJyn" info="{{info_texts.headlines.by_geography}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="KvAeJyn"></div>
                </div>
                <!-- Projection -->
                <div ng-show="analyticalViewMode=='mode-view-projection'">
                    <chartoptions oid="mSXGVDk" info="{{info_texts.headlines.by_geography}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="mSXGVDk"></div>
                </div>
                <!-- Prior year -->
                <div ng-show="analyticalViewMode=='mode-view-prior'">
                    <chartoptions oid="xNAp" info="{{info_texts.headlines.by_geography}}"></chartoptions>
                    <div class="qs-object has-options block-350" id="xNAp"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="subtitle">What are our top &amp; bottom movements vs Plan and Forecast?</h2>
        </div>
        <div class="col-lg-6">
            <div class="panel">
                <div class="qs-object has-options block-200" id="MbaXj"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel">
                <div class="qs-object has-options block-200" id="kPFQSS"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="subtitle">Where are we winning against the actuals?</h2>
            <div class="panel">
                 <div class="select-wrapper">
                    <span><strong>View by: </strong></span>
                    <select name="singleSelect" ng-model="headlinesChartViewMode" ng-change="triggerResize()">
                        <option value="mode-monthly">Monthly</option>
                        <option value="mode-cumulative">Cumulative</option>
                    </select>
                </div>

                <!-- Plan -->
                <div ng-show="analyticalViewMode=='mode-view-plan'">
                    <div ng-show="headlinesChartViewMode=='mode-monthly'">
                        <chartoptions oid="kPnZApH" info="{{info_texts.headlines.chart}}"></chartoptions>
                        <div class="qs-object block-300" id="kPnZApH"></div>
                    </div>

                    <div ng-show="headlinesChartViewMode=='mode-cumulative'">
                        <chartoptions oid="TWMy" info="{{info_texts.headlines.chart}}"></chartoptions>
                        <div class="qs-object block-300" id="TWMy"></div>
                    </div>
                </div>

                <!-- Forecast -->
                <div ng-show="analyticalViewMode=='mode-view-forecast'">
                    <div ng-show="headlinesChartViewMode=='mode-monthly'">
                        <chartoptions oid="mKjbmK" info="{{info_texts.headlines.chart}}"></chartoptions>
                        <div class="qs-object block-300" id="mKjbmK"></div>
                    </div>
                    <div ng-show="headlinesChartViewMode=='mode-cumulative'">
                        <chartoptions oid="PQMYYF" info="{{info_texts.headlines.chart}}"></chartoptions>
                        <div class="qs-object block-300" id="PQMYYF"></div>
                    </div>
                </div>

                <!-- Projection -->
                <div ng-show="analyticalViewMode=='mode-view-projection'">
                    <div ng-show="headlinesChartViewMode=='mode-monthly'">
                        <chartoptions oid="tLfGmtF" info="{{info_texts.headlines.chart}}"></chartoptions>
                        <div class="qs-object block-300" id="tLfGmtF"></div>
                    </div>
                    <div ng-show="headlinesChartViewMode=='mode-cumulative'">
                        <chartoptions oid="cpjjPL" info="{{info_texts.headlines.chart}}"></chartoptions>
                        <div class="qs-object block-300" id="cpjjPL"></div>
                    </div>
                </div>

                <!-- Prior year -->
                <div ng-show="analyticalViewMode=='mode-view-prior'">
                    <chartoptions ng-show="headlinesChartViewMode=='mode-monthly'" oid="UuEGWH" info="{{info_texts.headlines.chart}}"></chartoptions>
                    <div ng-show="headlinesChartViewMode=='mode-monthly'" class="qs-object block-300" id="UuEGWH"></div>
                    <chartoptions ng-show="headlinesChartViewMode=='mode-cumulative'" oid="DRdPsue" info="{{info_texts.headlines.chart}}"></chartoptions>
                    <div ng-show="headlinesChartViewMode=='mode-cumulative'" class="qs-object block-300" id="DRdPsue"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row hidden-xs">
        <div class="col-lg-12">
            <div class="collapse-section">
                <button class="collapse-trigger collapsed" ng-click="togglePanelVisibility()">+ More details</button>
                <div class="collapsible collapsed">
                    <div class="collapsible-content">
                        <div class="qs-object block-600" id="dmjSp"></div>
                        <div class="qs-transactions">
                            <span>The number of indiviual transactions is limited to 10.000 records, please narrow down your search to less than 10.000 records.</span>
                            <button class="inline-block" ng-click="openPopup('VBDLmk')">View transactions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>