<section class="section-intro segmentation">    
    <div class="container">
        <div class="col-lg-12">
            <div class="section-headers-wrapper">
                <h1>Headlines</h1>
                <h2>How is the business split?</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="section-kpis">
            </div>
        </div>
</section>

<article class="container">
    <h1>Segmentation</h1>

    <h2>Where are we winning on Actual vs Plan?</h2>
    <div class="col-lg-12 panel">
        <h3>Where are we winning on Actual vs Plan Trend?</h3>
        <p>this is some charts</p>
    </div>
</article>