<section class="section-intro roll-forward">

    <div class="container">
        <div class="row">
            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>Roll-forward</h1>
                </div>
            </div>
            <div class="col-sm-2 section-top">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>
            <!-- / Headers -->
        </div>
</section>

<article class="container charts-section">
    <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-5">
            <div class="quick-selections">
                Quick Selection:
                <div class="quick-select-section">
                    <vartoggle variable="v_Ccy" defaultvalue="USD" values="USD|EUR">
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <chartoptions oid="wsHzJ"></chartoptions>
                <div class="qs-object block-420 noselect" id="wsHzJ"></div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 panel">
        <div class="col-lg-6">
            <chartoptions oid="CQvJP"></chartoptions>
            <div class="qs-object block-300 noselect" id="CQvJP"></div>
        </div>
        <div class="col-lg-6">
            <div class="block-75"></div>            
            <div class="qs-object block-150" id="FAPgUj"></div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="collapse-section">
            <button class="collapse-trigger collapsed" ng-click="togglePanelVisibility()">+ More details</button>
            <div class="collapsible collapsed">
                <div class="collapsible-content">

                    <div class="select-wrapper">
                        <span><strong>View by: </strong></span>
                        <select name="singleSelect" ng-model="pivotViewMode" ng-change="triggerResize()">
                        <option value="mode-act-abs">Actual Absolute</option>
                        <option value="mode-plan-abs">Plan Absolute</option>
                        <option value="mode-act-vs-plan">Actual vs Plan</option>
                    </select>
                    
                        <div class="block-30"></div>

                        <div ng-show="pivotViewMode=='mode-act-abs'" class="qs-object block-600" id="HDeuWpR"></div>
                        <div ng-show="pivotViewMode=='mode-plan-abs'" class="qs-object block-600" id="vZzcC"></div>
                        <div ng-show="pivotViewMode=='mode-act-vs-plan'" class="qs-object block-600" id="HLJx"></div>

                    </div>
                </div>
            </div>
        </div>

</article>