<section class="section-intro roll-forward">
    
    <div class="container">
        <div class="row">
            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>Roll-forward</h1>
                </div>
            </div>
            <div class="col-sm-2 section-top">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>
            <!-- / Headers -->
        </div>
</section>

<article class="container charts-section">
    <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-5">
            <div class="quick-selections">
                Quick Selection:              
                <div class="quick-select-section">
                    <vartoggle variable="v_Ccy" defaultvalue="USD" values="USD|EUR">
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <div class="qs-object block-400 noselect" id="wsHzJ"></div>
            </div>
        </div>
        
    </div>

     <div class="col-lg-12 panel">
        <div class="col-lg-6">
            <div class="qs-object block-300 noselect" id="CQvJP"></div>
        </div>
        <div class="col-lg-6">
            <div class="block-75"></div>
            <div class="qs-object block-150" id="FAPgUj"></div>
        </div>
    </div>


</article>