<section class="section-intro segmentation">
    

    <div class="container">
        <div class="section-intro-cover"></div>

        <div class="row">

            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>Segmentation</h1>
                    <h2>How is the business split?</h2>
                </div>
            </div>
            <div class="col-sm-2 section-top hidden-xs">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>
            <!-- / Headers -->

            <div class="col-lg-12 section-kpis">
                <div class="qs-object block-80 kpi-object small" id="eKZKGs"></div>
                <div class="qs-object block-80 kpi-object small" id="ytHjAmL"></div>
                <div class="qs-object block-80 kpi-object small" id="mNpgjm"></div>
                <div class="qs-object block-80 kpi-object small" id="Yspw"></div>
            </div>
        </div>
</section>

<article class="container charts-section">
    <div class="row">
        <div class="col-sm-7">
            <!--<h1 class="section-title">Segmentation</h1>-->
        </div>
        <div class="col-sm-5">
          <div class="quick-selections">
                <label>Quick Selection:</label>
                <div class="quick-select-section">
                    <vartoggle variable="v_Ccy" defaultvalue="USD" values="USD|EUR">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <chartoptions oid="rwSXBF" info="{{info_texts.segmentation.premium}}"></chartoptions>
                    <div class="qs-object block-200" id="rwSXBF"></div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="panel">
                <div class="select-wrapper">
                    <span><strong>View by: </strong></span>
                    <select name="singleSelect" ng-model="chartViewMode" ng-change="triggerResize()">
                        <option value="mode-geo">Geography</option>
                        <option value="mode-broker">Broker Segmentation</option>
                        <option value="mode-class">Class / Line</option>
                        <option value="mode-risk">Risk Category</option>
                    </select>
                </div>
                
                <!-- Geo -->
                <div ng-show="chartViewMode=='mode-geo'">
                    <chartoptions oid="yjzmLc" info="{{info_texts.segmentation.charts}}"></chartoptions>
                    <div class="qs-object block-300" id="yjzmLc"></div>
                </div>

                <!-- Broker -->
                <div ng-show="chartViewMode=='mode-broker'">
                    <chartoptions oid="RguwPz" info="{{info_texts.segmentation.charts}}"></chartoptions>                
                    <div class="qs-object block-300" id="RguwPz"></div>
                </div>
                
                <!-- Class -->
                <div ng-show="chartViewMode=='mode-class'">
                    <chartoptions oid="HZkCGgU" info="{{info_texts.segmentation.charts}}"></chartoptions>
                    <div class="qs-object block-300" id="HZkCGgU"></div>
                </div>
                
                <!-- Risk -->
                <div ng-show="chartViewMode=='mode-risk'">
                    <chartoptions oid="BaxBu" info="{{info_texts.segmentation.charts}}"></chartoptions>
                    <div class="qs-object block-300" id="BaxBu"></div>
                </div>

            </div>
        </div>
         <div class="col-lg-5">
            <div class="panel block-350" style="font-size: 1.3em">
                <h4>Preferred, Standard &amp; Challenged</h4>
                <br>
                <p>Segmentation of our business into 'Preferred', 'Standard' and 'Challenged' is a key area and will only increase as we identify and improve our sources for this data.
                The current mappings are either based on Actuarial portfolio reviews or from an Industry code (e.g. NAICS). Anything without an appropriate source is labelled as 'Not Segmented'.</p>

            </div>
        </div>
    </div>
    
    <div class="row hidden-xs">
        <div class="col-lg-12">
            <div class="collapse-section">
                <button class="collapse-trigger collapsed" ng-click="togglePanelVisibility()">+ More details</button>
                <div class="collapsible collapsed" >
                    <div class="collapsible-content">
                        <div class="qs-object block-600" id="zcpTsTw"></div>
                        <div class="qs-transactions">
                            <span>The number of indiviual transactions is limited to 10.000 records, please narrow down your search to less than 10.000 records.</span>
                            <button class="inline-block" ng-click="openPopup('VBDLmk')">View transactions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>