<section class="section-intro submissions">
    <div class="container">
        <div class="row">
                        
            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>Submissions</h1>
                </div>
            </div>
            <div class="col-sm-2 section-top hidden-xs">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>
            <!-- / Headers -->

            <div class="col-lg-12 section-kpis">
                <div class="kpi-comb-wrapper">
                    <div class="qs-object block-90 kpi-object" id="CTayYA"></div>
                    <div class="qs-object block-40 kpi-spark noselect" id="JQBmpB" ng-click="openPopup('JQBmpB')"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="WhKMuz"></div>
                    <div class="qs-object block-40 kpi-spark noselect" id="mKjxRu" ng-click="openPopup('mKjxRu')"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="CMPNDa"></div>
                    <div class="qs-object block-40 kpi-spark noselect" id="eQFXTdX" ng-click="openPopup('eQFXTdX')"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="KtvKvhj"></div>
                    <div class="qs-object block-40 kpi-spark noselect" id="JnKhSQ" ng-click="openPopup('JnKhSQ')"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="JQVJTvK"></div>
                    <div class="qs-object block-40 kpi-spark noselect" id="AGKtZXA" ng-click="openPopup('AGKtZXA')"></div>
                </div>

                <div class="kpi-comb-wrapper">
                    <div class="qs-object block-90 kpi-object" id="qB"></div>
                    <div class="qs-object block-40 kpi-spark noselect" id="JFXjUBN" ng-click="openPopup('JFXjUBN')"></div>
                </div>
            </div>
        </div>
</section>

<article class="container charts-section">
     <div class="row">
        <div class="col-sm-7">
            <!--<h1 class="section-title">Segmentation</h1>-->
        </div>
        <div class="col-sm-5">
          <div class="quick-selections">
                <label>Quick Selection:</label>
                <div class="quick-select-section">
                    <vartoggle variable="v_Rolling_vs_Static" defaultvalue="Rolling 12" values="Rolling 12 Months,Rolling 12|Selected Months,Static">
                </div>
            </div>
        </div>
    </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="panel">
                    <chartoptions oid="NLdPLH" info="{{info_texts.submissions.by_geography}}"></chartoptions>
                    <div class="qs-object block-400" id="NLdPLH"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel">
                    <chartoptions oid="rPxScK"info="{{info_texts.submissions.by_class}}"></chartoptions>
                    <div class="qs-object block-400" id="rPxScK"></div>
                </div>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-lg-12">
                <div class="collapse-section">
                    <button class="collapse-trigger collapsed" ng-click="togglePanelVisibility()">+ More details</button>
                    <div class="collapsible collapsed" >
                        <div class="collapsible-content">
                            <div class="qs-object block-600" id="PdweKV"></div>
                            <div class="qs-transactions">
                                <span>The number of indiviual transactions is limited to 10.000 records, please narrow down your search to less than 10.000 records.</span>
                                <button class="inline-block" ng-click="openPopup('dpcA')">View transactions</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</article>