<section class="section-intro submissions">
    <div class="container">
        <div class="row">
                        
            <!-- Headers -->
            <div class="col-sm-10 section-top">
                <div class="section-headers-wrapper">
                    <h1>Submissions</h1>
                </div>
            </div>
            <div class="col-sm-2 section-top">
                <!-- Stock price -->
                <div ng-include="'templates/stock.html'"></div>
            </div>
            <!-- / Headers -->

            <div class="col-lg-12 section-kpis">
                <div class="kpi-comb-wrapper">
                    <div class="qs-object block-90 kpi-object" id="CTayYA"></div>
                    <div class="qs-object block-40 kpi-spark" id="JQBmpB"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="WhKMuz"></div>
                    <div class="qs-object block-40 kpi-spark" id="mKjxRu"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="CMPNDa"></div>
                    <div class="qs-object block-40 kpi-spark" id="eQFXTdX"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="KtvKvhj"></div>
                    <div class="qs-object block-40 kpi-spark" id="JnKhSQ"></div>
                </div>

                <div class="kpi-comb-wrapper">                    
                    <div class="qs-object block-90 kpi-object" id="JQVJTvK"></div>
                    <div class="qs-object block-40 kpi-spark" id="AGKtZXA"></div>
                </div>

                <div class="kpi-comb-wrapper">
                    <div class="qs-object block-90 kpi-object" id="qB"></div>
                    <div class="qs-object block-40 kpi-spark" id="JFXjUBN"></div>
                </div>
            </div>
        </div>
</section>

<article class="container charts-section">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="section-title">Submissions<small>Last updated:</small></h1>
        </div>
        <div class="col-sm-5">
            <div class="quick-selections">
                Quick Selection:              
                <div class="quick-select-section">
                    <vartoggle variable="v_Ccy" defaultvalue="USD" values="USD|EUR">
                </div>
                <div class="quick-select-section">
                    <vartoggle variable="v_GWP_NWP_Switch" values="'Gross','GWP'|'Net','NWP'" >
                </div>
            </div>
        </div>
    </div>


        <div class="row">

            <div class="col-lg-6">
                <div class="panel">
                    <div class="qs-object block-400" id="NLdPLH"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel">
                    <div class="qs-object block-400" id="rPxScK"></div>
                </div>
            </div>
        </div>


    <div class="col-lg-12">
        <div class="collapse-section">
            <button class="collapse-trigger collapsed" ng-click="togglePanelVisibility()">+ More details</button>
            <div class="collapsible collapsed" >
                <div class="collapsible-content">
                    <div class="qs-object block-600" id="PdweKV"></div>
                    <div class="qs-transactions">
                        <button class="inline-block" ng-click"openPopup('PdweKV')">View transactions</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>