<div class="footer-wrapper">

    <footer class="container">
        
        <div class="row">
            <div class="footer-header-title col-lg-8">
                <h1 class="pull-left">Chubb. Insured.</h1>
            </div>
            <div class="footer-header-date col-lg-4">
                <div class="footer-text pull-right"><span>Data last reloaded:</span><div class="qs-object block-60" id="GYZRSJ"></div></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <ul class="pull-left">
                   <li ng-repeat="n in navLinks[defaultSection] track by $index"><a ng-class="{ 'active': section === '{{n.section}}' }" href="#{{n.title|urlConverter:defaultSection}}">{{n.title}}</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <span class="footer-text pull-right">&copy; 2017 Chubb</span>
            </div>
        </div>

    </footer>

</div>