<div class="footer-wrapper">
    <footer class="container">
        <div class="row">
            <div class="col col-lg-12 ">
                <span class="pull-right">2017 &copy;</span>
                <ul class="pull-left">
                   <li ng-repeat="n in navLinks[defaultSection] track by $index"><a ng-class="{ 'active': section === '{{n.section}}' }" href="#{{n.title|urlConverter:defaultSection}}">{{n.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>