<!-- Modal -->
<div class="modal fade bs-mashup-modal-lg" id="mashupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <li><span>Export this chart</span><i class="options-button fa fa-share-square-o" ng-click="export('{{oid}}')"></i></li>
        <div id="modal-chart-object">
            <div class="qs-object block-60vh"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>