<div ng-controller="topBarController">
    <!-- SEARCH -->
    <div id="searchbar-wrapper" ng-show="searchFieldVisible">
        <form>
            <div class="form-group">
                <div id="search-bar-field">
                    <input type="text" class="input-sm" placeholder="What are you looking for" id="searchInput" ng-model="searchTerm" ng-keydown="search()"
                        ng-change="search()" ng-blur="hideResults()">
                    </input>
                </div>
            </div>
        </form>
        <div class="search-results" ng-show="processingOrFinished">
            <ul class="search-term-results">
                <li ng-repeat="field in searchResults">
                    <span>{{field.key}}</span>
                    <ul class="search-matches">
                        <li ng-repeat="match in field.matches"><a ng-mousedown="clickResult(field,match.text)">{{match.text}}</a></li>
                    </ul>
                </li>
            </ul>
            <div class="search-results-loader" ng-show="searching">Searching...</div>
        </div>
    </div>
    <!-- /SEARCH -->

    <div class="pre-nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li data-step="1" data-intro="Use these panels to filter the data you are seeing."><a>Bookmarks</a></li>
                        <li data-step="2" data-intro="Click here to toggle the filter panel visibility"><a ng-click="triggerFilters()">Filters</a></li>
                        <li><a ng-click="openHelp()">Help</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a class="nav-logo" href="#{{navLinks[defaultSection][0].title|urlConverter:defaultSection}}"><img src="images/logo.svg" /></a>
                </div>
                <div class="col-lg-7">
                    <nav>
                        <a ng-repeat="n in navLinks[defaultSection] track by $index" ng-class="{ 'active': section === '{{n.section}}' }" href="#{{n.title|urlConverter:defaultSection}}">{{n.title}}</a>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="pull-right">
                        <i class="toolbar-icon fa fa-search" ng-click="enableSearch()"></i>
                        <i class="toolbar-icon bck fa fa-step-backward" aria-hidden="true" ng-click="selectionsGoBack()"></i>
                        <i class="toolbar-icon fwd fa fa-step-forward" aria-hidden="true" ng-click="selectionsGoForward()"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>