<div class="options-wrap">
    <i class="information-button fa fa-question" ng-show="hasInfo" ng-click="toggleInfo($event)"></i>
    <i class="expander fa fa-bars" aria-hidden="true" ng-mousedown="toggle($event);"></i>
    <div class="options-list" ng-show="show_panel">
        <ul ng-mouseenter="mousemove()" ng-mouseleave="mouseout()">
            <!--<li ng-mousedown="console.log('Alternate')"><span>Alternative dimensions</span><i class="options-button fa fa-tasks"></i></li>-->
            <li ng-mousedown="open('{{oid}}')"><span>Enlarge chart</span><i class="options-button fa fa-expand"></i></li>
            <li ng-mousedown="export('{{oid}}')"><span>Export this chart</span><i class="options-button fa fa-share-square-o"></i></li>
        </ul>
    </div>
</div>

<div class="information-section" ng-show="visible_info">
    <div class="content">{{info}}</div>
</div>