<div class="sidebars" style="opacity: 0">
    <div class="sidebar right" ng-controller="sideBarController">
        <div class="close-button" ng-click="closeFilters()"><img class="close-image" src="images/close.svg" /></div>
        <div>
            <h2>Applied filters</h2>
            <div data-step="4" data-intro="Whatever you have selected appears here so you know what data you have filtered out.">
                <div class="applied-selections empty" ng-if="selectionList.length == 0">
                    <span>No selections at the moment.</span>
                </div>	
                <div class="applied-selections full" ng-if="selectionList.length > 0">
                    <div>
                        <ul id="filters-current-selections">
                            <li class="active-selection" ng-repeat="selection in selectionList">{{selection.text}}<button ng-click="removeFilter(selection.field_name)"><i class="icon-close"></i></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div data-step="5" data-intro="Use these panels to filter the data you are seeing.">
        <h3>Period filters</h3> 
            <div id="time-selection">                
                    <div class="time-selector"><label>Year:</label><fieldselect field="Year" defaultvalue="MAX" /></div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 qs-object block-50" id="UMWqfQ"></div>
                        <div class="col-xs-6 col-sm-12 qs-object block-50" id="Lnjsd"></div>
                    </div>
            </div>
    </div>
        <h3>Geographical filters</h3> 
        <div class="qs-object block-190 block-xs-80" id="RQbP"></div>

        <h3>Product filters</h3>
        <div class="qs-object block-190 block-xs-80" id="AmPmP"></div>

        <h3>Other</h3>
        <div class="qs-object block-100 block-xs-70" id="MhSkn"></div>
    </div>
</div>